<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<% status_collection = Project.statuses.map { |k,v| [k, v] } %>

<%= grid(@projects) do |g|
    g.column name: "Name", attribute: 'name'
    g.column name: "Status", attribute: 'status', custom_filter: status_collection, auto_reload: true
    g.column name: "Start Date", attribute: 'start_date'
    g.column name: "End Date", attribute: 'end_date'
    g.column do |project|
      link_to("Edit", edit_project_path(project))
    end
  end
%>

<br>

<%= link_to 'New Project', new_project_path %>
